/* **********  BASIC CSS RESET  ********** */

*
{
    margin:                         0;
    padding:                        0;
    font-size:                      10px;
}


/* **********  NATIVE GENERIC / CONTEXTUAL ELEMENTS  ********** */

header
{
    display:                        inline-block;
    
    width:                          100vw;
    margin:                         0;
    padding:                        0;
    
    text-align:                     center; 
}


/* **********  CUSTOM BODIES (BOD-T-xx)  ********** */

.BOD-T-01
{
    background-color:               #303030;
}


.BOD-T-02
{
    height:                         100vh;
    width:                          100vw;
        
    background:                     rgba(0, 0, 0, 1);
}


.BOD-T-03
{
    height:                         100vh;
    width:                          100vw;
        
    background:                     rgba(0, 0, 0, 1);
}


#MOD-02
{
    display:                        none;
    height:                         100vh;
    width:                          100vw;
    
    background-color:               rgba(36, 36, 36, 1);    
}



/* **********  LAYOUT CONTAINERS (LOC-T-xx)  ********** */

.LOC-T-01
{
    width:                          90%;
    margin:                         5% auto 0 auto;
    
    font-size:                      0;
    text-align:                     center;
}


.LOC-T-02
{    
    width:                          80%;
    margin:                         0 auto 10% auto;
    padding:                        10% 0 10% 0;
        
    text-align:                     center;
    font-size:                      0;
    
    background:                     rgba(48, 48, 48, .9);   
}


.LOC-T-03
{
    padding:                        1% 10% 7% 10%;
    text-align:                     justify;                      
}


.LOC-T-04
{    
    width:                          80%;
    margin:                         0 auto 2% auto;
    padding:                        2% 0 2% 0;
        
    text-align:                     center;
    font-size:                      0;
}


.LOC-T-05
{
    margin:                         0 auto;
    
    text-align:                     center;
}


.LOC-T-06
{
    margin:                         4% auto;
    
    text-align:                     center;
}



/* **********  CLICK-AREAS (CA-T-xx)  ********** */

.CA-T-01
{
    display:                        inline-block;
    
    width:                          250px;
    height:                         auto;
    margin:                         10px;   
}


#BTN01-HOV
{
    display:                        none;
}


#BTN02-HOV
{
    display:                        none;
}


#BTN03-HOV
{
    display:                        none;
}


#BTN04-HOV
{
    display:                        none;
}


/* **********  IMAGE ELEMENTS - LOGOS (LOG-T-xx)  ********** */

.LOG-T-01
{
    height:                         15vh;
    max-height:                     150px;
    width:                          auto;
    margin:                         2% 0 0 0;
    
    text-align:                     center;
}


/* **********  IMAGE ELEMENTS - ICONS BY CLASS (ICN-T-xx)  ********** */

.ICN-T-01
{
    display:                        inline-block;
    
    height:                         80px;
    width:                          80px;
    margin:                         4% 2% 4% 2%;
}


.ICN-T-02
{
    display:                        none;
    height:                         200px;
    width:                          200px;
    position:                       fixed;
    top:                            50%;
    left:                           50%;
    
    margin-top:                     -160px;
    margin-left:                    -107px;
}


/* **********  IMAGE ELEMENTS - PLACARDS BY CLASS (PLC-T-xx)  ********** */

.PLC-T-01
{
    width:                          80vw;
    min-width:                      275px;
    max-width:                      500px; 
}


/* **********  HEADING ELEMENTS (Hx-T-xx)  ********** */

.H1-T-01
{  
    margin:                         1vh 0 1vh 0;
    
    font-size:                      1.5vh;
    color:                          rgba(255, 255, 255, .7);   
}


.H2-T-01
{
    margin:                         2% 10% 2% 10%;
    
    text-align:                     center;
    font-size:                      1.4rem;
    text-align:                     center;
    font-family:                    'Comfortaa', cursive;
    text-shadow:                    2px 2px 0 #000;
    color:                          #DC1512;
}


.H2-T-02
{
    margin:                         0 10% 2% 10%;
    
    text-align:                     center;
    font-size:                      1.4rem;
    text-align:                     center;
    font-family:                    'Comfortaa', cursive;
    color:                          #0B9607;
}


.H2-T-03
{
    margin:                         10%;
    
    text-align:                     center;
    font-size:                      1.4rem;
    text-align:                     center;
    font-family:                    'Comfortaa', cursive;
    color:                          #4B22DC;
}


.H2-T-04
{
    margin:                         10%;
    
    text-align:                     center;
    font-size:                      1.4rem;
    text-align:                     center;
    font-family:                    'Comfortaa', cursive;
    color:                          #857C7D;
}


.H3-T-01
{
    margin:                         5% 10% 5% 10%;
    
    text-align:                     center;
    
    font-family:                    'PT Sans Narrow', sans-serif;
    font-size:                      1.3rem;
    color:                          #303030;   
}


.H5-T-01
{
    margin:                         5vh 0 0 0;
    text-align:                     center;
    
    font-size:                      .75rem;
    color:                          rgba(255, 255, 255, .4); 
}


.H5-T-02
{
    margin-top:                     3vh;
    
    text-align:                     center;
    
    font-family:                    'PT Sans Narrow', sans-serif;
    font-size:                      1.75rem;
    color:                          white;
}


.H5-T-03
{
    margin:                         5vh 0 0 0;
    text-align:                     center;
    
    font-size:                      .75rem;
    color:                          #DC1512;    
}


.H6-T-01
{
    margin-top:                     1vh;
    
    text-align:                     center;
    
    font-family:                    'PT Sans Narrow', sans-serif;
    font-size:                      1.2rem;
    color:                          white;
}


/* **********  PARAGRAPH TEXT (PA-T-xx)  ********** */

.PA-T-01
{
    display:                        inline-block;
    
    margin:                         0 10% 0 10%;
    
    text-align:                     justify;
    font-family:                    'PT Sans Narrow', sans-serif;
    font-size:                      1rem;
    color:                          rgba(255, 255, 255, .7);
}


.PA-T-02
{
    margin:                         5% 10% 0 10%;
    text-align:                     center;
    
    font-family:                    'PT Sans Narrow', sans-serif;
    font-size:                      1rem;
    color:                          #B3B3B3;
}


.PA-T-03
{
    margin-top:                     2vh;
}



/* **********  VIDEO ELEMENTS (VID-T-xx)  ********** */

.VID-T-01
{
    width:                              100%;
    height:                             auto;
}


.VID-T-02
{
    display:                    inline-block;
    
    width:                      80%;
    min-width:                  275px;
    max-width:                  500px;
    
    height:                     auto;    
}




/* **********  MEDIA QUERIES  ********** */


@media (min-width: 500px)
{
    .H2-T-01
    {
        font-size:                      1.75rem;
    }
    
    .H2-T-02
    {
        font-size:                      1.75rem;
    }
    
    .PA-T-02
    {
        font-size:                      1rem;
    }
}


@media (min-width: 700px)
{
    
    .H2-T-01
    {
        font-size:                      2.25rem;
    }
    
    
    .H2-T-02
    {
        font-size:                      1.75rem;
    }
    
    .PA-T-02
    {
        font-size:                      1.25rem;
    }
    
    
    .LOC-T-02
    {
        padding:                        7%;
    }
    
    
}


@media (min-width: 1000px)
{
    .H2-T-01
    {
        font-size:                      2.5rem;
    }
    
    .H2-T-02
    {
        font-size:                      1.75rem;
    }
    
    .PA-T-01, .PA-T-02
    {
        min-width:                      300px;
        max-width:                      600px;
        font-size:                      1.5rem;        
    }
    
    .LOC-T-02
    {
        padding:                        2.5%; 
    }
    
}
