


.WRAPPER
{
    height:                         100%;
    width:                          100%;
    
    
    
}




.LOC-T-01
{
    width:                          90%;
    margin:                         0 auto;
    font-size:                      0;
    text-align:                     center;
}


.CA-T-01
{
    display:                        inline-block;
    
    width:                          250px;
    height:                         auto;
    margin:                         10px;
      
}


