*
{
    margin:                         0;
    padding:                        0;
    font-size:                      10px;
}


.WRAPPER
{
    height:                         100vh;
    width:                          100vw;
    
    background:                     url("../ASSETS/IMAGES/BACKGROUNDS/TEXTURES/pexels-photo-132195.jpeg");
    background-repeat:              no-repeat;
    background-size:                cover;
    background-attachment:          fixed;
}




.LOC-T-01
{
    width:                          90%;
    margin:                         0 auto;
    font-size:                      0;
    text-align:                     center;
}


.CA-T-01
{
    display:                        inline-block;
    
    width:                          250px;
    height:                         auto;
    margin:                         10px;
      
}


