*
{
    margin:                             0;
    padding:                            0;
    font-size:                          10px;
}

body
{
    background:                         url("../ASSETS/IMAGES/BACKGROUNDS/TEXTURES/BG-LTMAPL-1920-1280.jpg");
    background-repeat:                  no-repeat;
    background-size:                    cover;
    background-attachment:              fixed;
    
    background-color:                   
    
}


/********* HEADERS - HEADERS BY CLASS (HDR-T-xx) *********/

.HDR-T-01
{
    display:                            flex;
    flex-direction:                     column;
    justify-content:                    space-around;
    align-items:                        center;
    
    
    padding:                            3rem 2rem 2rem 2rem;
    
    /*background:                         url("../ASSETS/IMAGES/BACKGROUNDS/TEXTURES/Grunge-Background-Surface-Wall-Dirty-Texture-944263.jpg");*/
    background-repeat:                  no-repeat;
    background-size:                    cover;
    
                            
}


/********* FOOTERS - BY CLASS (FTR-T-xx) *********/

.FTR-T-01
{
    display:                            flex;
    flex-direction:                     column;
    justify-content:                    space-between;
    align-items:                      center;
    
    padding:                            0 2rem 2rem 2rem;
    

    
}



/********* SECTIONS - SECTIONS BY CLASS (SEC-T-xx) *********/

.SEC-T-01
{
    display:                            flex;
    flex-direction:                     column;
    justify-content:                    space-between;
    align-items:                        center;
    
    /*padding:                            1rem 0 1rem 0;*/
}


/********* LAYOUT CONTAINERS - LAYOUT CONTAINERS BY CLASS (LOC-T-xx) *********/

.LOC-T-01
{
    display:                            flex;
    justify-content:                    center;
    align-items:                        center;
    width:                              100vw;
    height:                             auto;
    margin-bottom:                      6rem;
}

.LOC-T-02
{
    display:                            flex;
    flex-direction:                     column;
    justify-content:                    space-between;
    align-items:                        center;
    
    height:                             100%;
    width:                              100%;
    
    background:                         rgba(0,0,0,0);
    position:                           absolute;
}



/*#VID01  DELETE IF NOT NEEDED
{
    width:                              90vw;
    height:                             auto;
    position:                           relative;
}*/




/********* HEADINGS - HEADINGS BY CLASS (Hx-T-xx) *********/

.H1-T-01
{
    margin:                             2rem 0 2rem 0;
    font-family:                        "Times New Roman", Times, serif;
    font-size:                          1.3rem;
    
    letter-spacing:                     3.5px;
    
    color:                              rgba(0, 0, 0, 1);
    /*-webkit-text-stroke:                1px rgba(0, 0, 0, 1);*/
}


.H2-T-01
{
        
    letter-spacing:                     4px;
    font-family:                        'Play', sans-serif;
    font-size:                          4rem;
    
    color:                              rgba(255, 255, 255, .9);
    /*-webkit-text-stroke:                1px rgba(255, 255, 255, .5);*/
}




/********* PARAGRAPH TEXT - BY CLASS (PA-T-xx) *********/

.PA-T-01
{
    margin:                             15% 20% 15% 20%;
    
    text-align:                         center;
    font-family:                        "Times New Roman", Times, serif;
    font-size:                          2rem;
    color:                              rgba(255,255,255,1);
}


.PA-T-02
{
    margin:                             2rem;
    font-family:                        'Oswald', sans-serif;
    
}


/********* BUTTONS - BUTTONS BY CLASS (BUT-T-xx) *********/

.BU-T-01
{
    width:                                  50vw;
    padding:                                1rem;
  
    border:                                 1px solid rgba(255,255,255,.8);
    background:                             rgba(255, 255, 255, .4);
    
    font-size:                              2rem;
    font-weight:                            700;
    color:                                  rgba(255, 255, 255, .75);
}



/********* LOGOS - BY CLASS (LOG-T-xx) *********/

.LOG-T-01
{
    width:                              80vw !important;
    height:                             auto !important;
}

.LOG-T-02
{
    width:                              75vw !important;
    height:                             auto !important;
    
}



/********* EXPERIMENTAL STUFF *********/








.VID-T-01
{
    width:                              80vw;
    height:                             auto;
    
    
}




/********* MEDIA QUERIES *********/

@media (min-width: 420px)
{
    .BU-T-01
    {
        font-size:                              3rem;                              
    }
    
    .H1-T-01
    {
        font-size:                              2rem;
    }
    
    .H2-T-01
    {
        font-size:                              5rem;
    }
    
    .PA-T-01
    {
        font-size:                              2.5rem;
    }
    
}

@media (min-width: 520px)
{
    .BU-T-01
    {
        font-size:                              4rem;
    }
    
    
    .H1-T-01
    {
        font-size:                              2rem;
    }
    
    .H2-T-01
    {
        font-size:                              6rem;
    }
    
    .PA-T-01
    {
        font-size:                              3.25rem;
    }
    
    .LOG-T-01
    {
        width:                                  60vw !important;
        height:                                 auto !important;
    }
}



@media (min-width: 620px)
{
    
    body
    {
        padding:                                    5rem;
    }
    
    .HDR-T-01
    {
        padding:                                 2rem 0 2rem 0;
    }
    
    .SEC-T-01
    {
        display:                                grid;
        grid-template-areas:                    "VID01 VID02"
                                                "VID03 VID04";
    }
    
    .LOC-T-01
    {
        width:                                  40vw;
    }
    
    .H1-T-01
    {
        font-size:                                  1.55rem;
    }
    
    .VID-T-01
    {
        width:                                  40vw;
    }
    
    
    .BU-T-01
    {
        width:                                  25vw;
        font-size:                              2rem;
    }
    
    .H2-T-01
    {
        font-size:                              4rem;
    }
    
    .PA-T-01
    {
        font-size:                              1.75rem;
    }
    
    
    .LOG-T-01
    {
        width:                                  40vw !important;
        height:                                 auto !important;
    }
    
    .LOG-T-02
    {
        width:                                  30vw !important;
        height:                                 auto !important;
    }
    
}



@media (min-width: 900px)
{
    body
    {
        padding:                                1rem 4rem 0 4rem;
    }
    
    
    .SEC-T-01
    {
        grid-template-areas:                    "VID01 VID02 VID03 VID04";
        
        margin:                                 6rem 0 0 0;
        padding:                                0;
        
    }
    
    
    .HDR-T-01
    {
        flex-direction:                         row;
        justify-content:                        space-between;
    }
    
    
    .LOG-T-01
    {
        width:                                  12vw !important;
        height:                                 auto !important;
    }
    
    
    .LOG-T-02
    {
       display:                                 none;
    }
    
    
    .H1-T-01
    {
        font-size:                              4rem;
        opacity:                                .6;
    }
    
    .H2-T-01
    {
        font-size:                              4rem;
    }
    
    .PA-T-01
    {
        font-size:                              2rem;
    }
    
    .BU-T-01
    {
        width:                                  12vw;
        font-size:                              2.4rem;
    }
    
    
    .LOC-T-01
    {
        width:                                  20vw;
    }
    
    .VID-T-01
    {
        width:                                  20vw;
    }
    
}




/*********  GRID DESIGNATIONS *********/

#VID01  {grid-area:     VID01;}
#VID02  {grid-area:     VID02;}
#VID03  {grid-area:     VID03;}
#VID04  {grid-area:     VID04;}


